/* FILEPATH: /Users/brianseo/webDevelopment/mooyeon-seo.github.io/src/containers/Footer.css */

footer {
  padding: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  text-decoration: none;
}
