/* timeline-section */
.timelineSection {
    display: flex;
    flex-direction: column; 
    font-size: 14px;
    gap: 10px; /* add a gap between the timeline and the content */    
    padding: 10px;
}

@media (max-width: 600px) {
    .timelineSection {
        width: 300px; /* adjust width for smallest screens */
    }
}