.work {
    display: grid;
    grid-template-columns: 1fr 4fr; /* set the width of the columns */    
    gap: 5px;
    margin: 10px;
    padding: 10px;
    transition: box-shadow 0.3s ease-in-out; /* add transition effect */
}

.work:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* add box-shadow on hover */
}

.titleNavigation {
    font-size: large;
}
